html
    head
        link(rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.css")
        script(src="/vendor/angular/angular.js")
        script(src="/app/app.js")
    body(ng-app="myWorld")
        ul.nav.nav-tabs
            li
                a(href="/") Home
            li
                a(href="/things") Things 
                
        .container
        
            .well Welcome to My World {{ 5*5*5 }}
            
            .alert.alert-warning
                div(ng-controller="MyCtrl") {{ name }}
                    form.form
                        div.form-group
                            label Name
                            input.form-control(ng-model="name")
            .alert.alert-warning
                div(ng-controller="MyCtrl") {{ name }}
                    form.form
                        div.form-group
                            label Name
                            input.form-control(ng-model="name")
            
            