html
    head
        link(rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.css")
    body
        ul.nav.nav-tabs
            li
                a(href="/") Home
            li
                a(href="/things") Things 
                
        .container
        
            .well Welcome to My World